<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/ufo_styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>

                <div class="flying_ufo_container">

                    <img id="birdy"src="voegelchen.png">
                    <div class="first_component">
                        <p>OOFOZOO</p>
                    </div>

                     <div class="second_component">


                            <div id="oben">
                                    <img id="print"src="mutter_gelb.png">
                                    <img id="print"src="schraube.png">
                                    <img id="print"src="skull_blau.png">
                            </div>
                            <div id="unten">
                                    <img id="print"src="schraube.png">
                                    <img id="print"src="skull_blau.png">
                                    <img id="print"src="mutter_gelb.png">
                            </div>


                    </div>
                    <div class="third_component">
                        <!-- <div id="wrapper">
                            <img id="birdy_red"src="voegelchen_rot.png">
                        </div> -->
                    </div>
                    <div id="parent">

</div>
                </div>




                <div class="view">
                    {{{ body }}}
                </div>
            </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <script src="/index.js" charset="utf-8"></script>

    </body>
</html>
