<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/ufo_styles.css">

    </head>
    <body>


            <div class="grid">
                <nav>
                    {{> nav }}
                </nav>


                <div class="flying_ufo_container">
                        <div >
                            <img id="top"src="voegelchen.png">
                        </div>
                </div>
                        <img id="background"src="just-waves_big.png">



                    <div class="print_container" >
                            <div id="print">1</div>
                            <div id="print">2</div>
                            <div id="print">3</div>
                        </div>
                        <div class="print_container">
                                <div id="print">4</div>
                                <div id="print">5</div>
                                <div id="print">6</div>
                            </div>

                <div class="view">
                    {{{ body }}}
                </div>
            </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <script src="/index.js" charset="utf-8"></script>

    </body>
</html>
