<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/ufo_styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <div class="first_component">
            <div class="einleitungstext">
                <p>Eine Gruppe von Wissenschaftlern<br>
                    entwickelte in den 60 Jahren ein neues Klassifizierungsystem<br>
                    für Beobachtungen und Fundstücke aus anderen Welten.<br>
                    Sie nannten es..
                </p>

            </div>
            <img id="star_top"src="/screenprints/STAR_1Element 3.png">
            <img id="first_component_bg"src="/BG_first_comp_short.png">
            <img id="oofozoo"src="/screenprints/OOFOZOOElement 8.png">
            <img id="rover"src="/screenprints/ROVER_1Element 5.png">
            <img id="big_ufo"src="/screenprints/UFO_1Element 1.png">
        </div>
        <div class="blue_component">
            <img id="cloud"src="/screenprints/STARCLOUDElement 7.png">
            <img id="OFR"src="/screenprints/OFRElement 9.png">
            <img id="star_grey"src="/screenprints/STAR_1Element 3.png">
        </div>
        <div class="section_fotos_1">
            <div class="foto_text_1">
                <p>MUTTER<br>
                    Screenprint 50 x 50<br>
                    -<br>
                    2017<br>
                    -<br>
                    Edition of 32<br>
                    -<br>
                    80 €<br>
                </p>

            </div>

            <button id="order_button_1"type="button">order</button>


            <!-- <img id="order_button"src="/screenprints/Order_buttonElement 12.png"> -->
        </div>
        <div class="section_fotos_2">
            <div class="foto_text_2">
                <p>SKULLIEN<br>
                    Screenprint 50 x 50<br>
                    -<br>
                    2017<br>
                    -<br>
                    Edition of 32<br>
                    -<br>
                    80 €<br>
                </p>

            </div>
             <button id="order_button_2"type="button">order</button>

        </div>
        <div class="section_fotos_3">
            <div class="foto_text_3">
                <p>SCHRAUBE<br>
                    Screenprint 50 x 50<br>
                    -<br>
                    2017<br>
                    -<br>
                    Edition of 40<br>
                    -<br>
                    80 €<br>
                </p>

            </div>
            <button id="order_button_3"type="button">order</button>

        </div>
        <div class="section_fotos_4">
            <div class="foto_text_4">
                <p>SKULLIEN<br>
                    Screenprint 50 x 50<br>
                    -<br>
                    2017<br>
                    -<br>
                    Edition of 28<br>
                    -<br>
                    80 €<br>
                </p>

            </div>
            <button id="order_button_4"type="button">order</button>

        </div>
        <div class="section_fotos_5">
            <div class="foto_text_5">
                <p>STERNIE<br>
                    Screenprint 50 x 50<br>
                    -<br>
                    2017<br>
                    -<br>
                    Edition of 36<br>
                    -<br>
                    80 €<br>
                </p>

            </div>
            <button id="order_button_5"type="button">order</button>

        </div>
        <div class="section_fotos_6">
            <div class="foto_text_6">
                <p>ASTRONAUT<br>
                    Screenprint 50 x 50<br>
                    -<br>
                    2017<br>
                    -<br>
                    Edition of 28<br>
                    -<br>
                    80 €<br>
                </p>

            </div>
            <button id="order_button_6"type="button">order</button>

        </div>
        <div class="section_fotos_7">
            <div class="adress">
                <p>Über die OOZE FDRL RSRV..</p>


            </div>
            <div class="impressum">
                <p>Adresse und Impressum<br>
                    Martin Baaske<br>
                    Irmgardstrasse 25<br>
                    14169 Berlin<br>
                    <br><br>
                    m.baaske@oofozoo.de<br>


                </p>


            </div>

            <img id="roverII"src="/screenprints/Rover_2Element 13.png">
            <!-- <img id="unten"src="/screenprints/BG_ganz_unten.png"> -->

        </div>




        <!-- The Modal -->
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <p id="modal_text">order<br>your print</p>
                <p id="shipping_text"><br>Versand 7€ deutschlandweit.
            </p>
            <form>

                  <input type="text" name="firstname" placeholder="Vorname">
                  <br>

                  <input type="text" name="lastname" placeholder="Nachname">
                  <input type="text" name="street" placeholder="Strasse">
                  <input type="text" name="city" placeholder="Stadt">
                  <input type="text" name="email" placeholder="Email">
                  <br><br>
                  <input id="submit"type="submit" value="Bestellen">
            </form>
              </div>

        </div>


             <!-- <img id="gallery_pic"src="Foto_Quelle_2000px_0002_Ebene 2.jpg"> -->


                 <div class="flying_ufo_container">

                    <img id="birdy"src="/screenprints/UFO_1Element 1.png">
                    <img id="ufo_1"src="/screenprints/UFO_2Element 2.png">
                </div>






                <div class="view">
                    {{{ body }}}
                </div>
            </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <script src="/index.js" charset="utf-8"></script>
        <!-- <img id="flying_ufo_bg_pic"src="/BG_top_completeElement_opt.png"> -->

    </body>
</html>
