body {
    display: flex;
    flex-direction: column;
    background-color: grey;
    margin: 0;
    padding: 0;
}

nav {
    height: 200px;

}
.flying_ufo_container{
    height: 200px;
    max-width: 100%;
}
#print_container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: red;
    height: 600px;
    max-width: 100%;
}
#top{
    position: absolute;
    top: 200px;
    left: 200px;

}
#background{
    height: 100%;
    width: 100vw;
    /* max-width:100%; */
    /* max-height:100%; */
}
#oben {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-around; */
    justify-content: center;

    background-color: black;
    height: 300px;
    width: 100vw;
    padding-top: 40px;
}
#unten {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-around; */
    justify-content: center;

    background-color: black;
    height: 300px;
    width: 100vw;
    padding-bottom: 40px;
}
#print{
    background-color: white;
    width: 260px;
    height: 260px;
}

.navbar_items a {
    float: left;
    font-size: 30px;
    color: white;
    padding: 30px 30px 0px 30px;
    text-decoration: none;
    font-family: Arial;
}
.navbar_items_right a {
    float: right;
    font-size: 30px;
    color: white;
    padding: 30px 30px 0px 30px;
    text-decoration: none;
    font-family: Arial;
}
