body {
    display: flex;
    flex-direction: column;
    /* background-image: url("/BG_top_completeElement_opt.png"); */
    background-color: grey;
    margin: 0;
    padding: 0;
}
/* <!--------------------- nav ----------------------------> */

nav {
    height: 295px;

}
.navbar_items a {
    float: left;
    font-size: 30px;
    color: white;
    padding: 30px 30px 0px 30px;
    text-decoration: none;
    font-family: Arial;
}
.navbar_items_right a {
    float: right;
    font-size: 30px;
    color: white;
    padding: 30px 30px 0px 30px;
    text-decoration: none;
    font-family: Arial;
}
/* <!--------------------- first_component ------------------> */
.first_component {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    height: 730px;
    overflow: hidden;
}
.einleitungstext{
    position: absolute;
    margin: 0 auto;
    width: 50%;
    height: 300px;
    top: 77px;
}
.einleitungstext p{
    font-size: 20px;
    font-family: Arial;
    color: white;
    text-align: center;
    line-height: 1.5;

}
#star_top{
    right: 100px;
    position: absolute;
    top: 400px;
    width: 5%;

}

#oofozoo{
    position: absolute;
    top: 500px;
    width: 50%;

}
#rover{
    position: absolute;
    left: 1035px;
    top: 645.2px;
    width: 13%;
}
#roverII{
    position: absolute;
    left: 306px;
    top: 7753px;
    width: 13%;
}
#adress_area{

    height: 300px;
    width: 300px;

    background-color: grey;

}
#unten{
    width: 100%
}



.blue_component{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #29abe2;
    margin:0 auto;
    height: 730px;
    width: 80%;
    overflow: hidden;
}
#cloud{
    position: absolute;
    padding-left: 736px;
    padding-top: 50px;
    width: 23%;
    height: 30%;
    z-index: 10;
}
#OFR{
    padding-top: 50px;
    width: 50%;

}
#star_grey{
    left: 250px;
    position: absolute;
    top: 1120px;
    width: 10%;

}
#star_top{
    left: 250px;
    position: absolute;
    top: 1120px;
    width: 10%;

}

.section_fotos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    height: 950px;
    width: 80%;

}
.section_fotos_1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    height: 1080px;
    width: 80%;
    background-size: cover;
    background-image: url("Foto_Quelle_2000px_0002_Ebene 2.jpg");
}
.section_fotos_2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    height: 1080px;
    width: 80%;
    background-size: cover;
    background-image: url("Foto_Quelle_2000px_0000_Ebene 4.jpg");
}
.section_fotos_3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    height: 1080px;
    width: 80%;
    background-size: cover;
    background-image: url("Foto_Quelle_2000px_0001_Ebene 3.jpg");
}
.section_fotos_4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    height: 1080px;
    width: 80%;
    background-size: cover;
    background-image: url("Foto_Quelle_2000px_0003_Ebene 1.jpg");
}
.section_fotos_5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    height: 1080px;
    width: 80%;
    background-size: cover;
    background-image: url("Foto_Quelle_2000px_Sternie.jpg");
}
.section_fotos_6{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    height: 1080px;
    width: 80%;
    background-size: cover;
    background-image: url("Foto_Quelle_2000px_Watchman.jpg");
}
#foto{
    object-fit: cover;
    margin: 0 auto;
    width: 100%;
}
#foto_108{
    object-fit: cover;
    margin: 0 auto;
    width: 108%;
}
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    position: relative;
    top: 100px;
    left: 416px;
    background-color: #03A9F4;
    margin: 0 auto; /* 15% from the top and centered */
    padding: 20px;
    height: 500px;
    width: 19%;
}
#modal_text{
    font-size: 16px;
    font-family: Arial;
    color: white;
    text-align: left;
    line-height: 1.5;


}
#shipping_text{
    font-size: 13px;
    font-family: Arial;
    color: white;
    text-align: left;
    line-height: 1.5;
}
input{
    margin-top: 15px;
    margin-left: 18px;
    margin-right: 18px;
    background-color: white;
    padding: 10px;
    width: 205px;
    height: 17px;
    border: none;
    font-size: 16px;
}
#submit{
    margin-top: 50px;
    margin-left: 18px;
    margin-right: 18px;
    /* background-color: white; */
    padding: 10px;
    height: 38px;
    width: 227px;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#order_button{
position: relative;
left: -492px;
top: 140px;
z-index: 15;
outline: none;
background-color: #03A9F4;

color: white;
font-size: 20px;
padding: 13px;

-webkit-border-radius: 32.027027027027025px;
-moz-border-radius: 32.027027027027025px;
border-radius: 32.027027027027025px;
}
#order_button_2{
position: relative;
left: -492px;
top: 2810px;
z-index: 15;
outline: none;
background-color: #bcd442;

color: white;
font-size: 20px;
padding: 13px;

-webkit-border-radius: 32.027027027027025px;
-moz-border-radius: 32.027027027027025px;
border-radius: 32.027027027027025px;
}
.foto_text p{
    position: relative;
    z-index: 15;
    font-size: 16px;
    font-family: Arial;
    color: black;
    text-align: left;
    line-height: 1.5;
    left: -380px;
    width: 200px;
}
.foto_text_2 p{
    top: 2650px;
    position: relative;
    z-index: 15;
    font-size: 16px;
    font-family: Arial;
    color: black;
    text-align: left;
    line-height: 1.5;
    left: -380px;
    width: 200px;
}


.second_component{
    display: flex;
    /* flex-flow: row wrap; */
    justify-content: center;
    margin:0 auto;
    max-height: 800px;
    max-width: 100%;
    margin-bottom: 100px;
}

#print_background{


}
#background{
    height: 100%;
    width: 100vw;
    /* max-width:100%; */
    /* max-height:100%; */
}




/* <!--------------------- parallax birdy container ------------------> */

.flying_ufo_container{
    /* display: flex;
    justify-content: center; */
    height: 2400px;
    max-width: 100%;
    overflow: hidden;
    /* background-image: url("/BG_top_completeElement_opt.png"); */
    /* create parallax effect  */
    /* Full height */
    /* height: 100%; */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#gallery_pic{
    margin:0 auto;
    width: 80%;
    height: 80%;
}

#flying_ufo_bg_pic{

    max-width: 100%;
    max-height: 100%;
}


/* ----------------------- red birdy flying horizontally ------------------ */
/* #wrapper {
    position: absolute;
    width: 100%;
    height: 100px;
    border: solid 1px green;
    transition: all 5s;
}
#wrapper:hover {
    transform: translateX(100%);
}

#wrapper:hover #child {
    transform: translateX(-100%);
}
.third_component {
    position: relative;
    margin: 0 auto;
    top: 314px;
    width: 86%;
    height: 400px;
    background-color: white;
}
/* #birdy_red{
    position: absolute;
        width: 50px;
        height: 100px;
        transition: inherit;

}
#wrapper:hover #birdy_red {
    transform: translateX(-100%);
    border-style: none;
}  */



/* <!--------------------- birdy 2 rows of images ------------------> */


#oben {
    display: flex;
    /* flex-flow: row wrap; */
    /* justify-content: space-around; */
    justify-content: center;
    background-color: black;
    height: 410px;
    width: 86vw;
    padding-top: 25px;



}

#print{
    background-color: black;
    width: 380px;
    height: 380px;

}

/* <!--------------------- birdy ----------------------------> */
#ufo_1{
    position: absolute;
    top: 1021px;
    left: 325px;
    width: 6%;
}
#birdy{
    position: absolute;
    top: 1720px;
    right: 325px;
    z-index: 15px;
    /* transform: translate3d(1184px, 251px, 0px); */

    /* transform: translate3d(354px, 61px, 0px);
    transform:translateX(-25px); */

}
#birdy.active {

    position: absolute;
    /* neu */
    transform: translate3d(1184px, 251px, 0px);
    /* neu */

    /* transform: translate3d(-2.7rem, 0, 1rem); */

    /* transform: translate(50px,100px); */
    /* transform:translateX(-25px); */

}
/* <!--------------------- prints ----------------------------> */
